
.primary-color{
   -fx-background-color:#EECABA;
}

.Secondary-color{
   -fx-background-color:#E3C0B1;
}

.button{
   -fx-background-color:#e6b59c;
   -fx-background-radius:30;
}

.payBtn{
   -fx-background-color:#FFD100;
   -fx-background-radius:30;
}
