.white-background{
    -fxbackground-color: #fff;
}
.transparent{
    -fxbackground-color: rgba(0,0,0,0);
}
.round-layout{
    -fx-border-radius: 50;
    -fx-border-color: #D7D7D7;
}
.myButton {
    -fx-background-color:transparent;
    -fx-border-color: #D7D7D7;
    -fx-border-radius: 50;
}

.myButton:hover {
    -fx-background-color:#DBDBDB;
}
.selected{
    -fx-background-color: #F3F3F3;
}
.mouse-moved:hover{
    -fx-background-color: #E4E4E4;
}
.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0), 10, 0, 0, 10 )
}

